
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--shadow-color), var(--shadow-color)), url('../login-photo.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
} 
.form-box{
    width: 38rem;
    height: 48rem;
    position: relative;
    margin: 6% auto;
    background:var(--bg-code);
    padding: 5px;
}
.button-box{
    width: 30rem;
    margin:2rem auto;
    position: relative;
}
.toggle-btn{
    padding: 10px 1rem;
    border: 0;
    outline: none;
    position: relative;
    color:var(--primary-blue);
    font-size: 2.8rem;
}

.social-icons{
    margin: 2rem auto;
    text-align: center;
}
.social-icons .nav-pills{
    margin: 0 12px;
    cursor: pointer;
    border: none;
    color: var(--primary-color);

}
.social-icons i{
    font-size:2.5rem;
    box-shadow: 0 0 12px 0 var(--primary-blue);
    text-decoration: none;
}
.input-group{
    top: 16rem;
    position: absolute;
    width: 28rem;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 12px 5px;
    margin: 5px 0;
    border: 2px solid var(--shadow-color);
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: var(--black-bg);
    margin: 1rem 0;
}
.submit-btns{
    width: 85%;
    cursor: pointer;
    padding: 10px 3rem;
    margin: auto;
    display: block;
    background:var(--primary-color);
    border: 0;
    outline: none;
    color: var(--bg-code);
    border-radius: 3rem;
    font-size: 1.4rem;
}
.submit-btns:hover{
    opacity: 0.9;
}
.check-box{
    margin: 2rem 5px;
}
.check-psswd{
    color: var(--black-bg);
    font-size: 1.4rem;
}
.login{
    left:50px
}
.input-account{
    padding: 10px;
    font-size: 1.5rem;
    color: var(--black-bg);
}
.primary-account{
    color: var(--black-bg);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}