.products-container{
    margin-top: 9.4rem;
    display: grid;
    grid-template-columns: 1.2fr 4.6fr;
    grid-template-areas: "aside main";
    gap: 10px;
}
aside{
    height: 100vh;
    grid-area: aside;
    box-shadow: 0 0 12px 0 var(--primary-color);
    margin:2rem;
    border-radius: 5px;
}
ul{
  list-style: none;
}
main{
    grid-area: main;
    box-shadow: 0 0 12px var(--primary-color);
    margin:2rem;
    border-radius: 5px;
  }
.flex-filters{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.btm-b{
  border-bottom: 1px solid var(--black-bg);
}
.filters-desc{
  font-size: 2rem;
  cursor: pointer;
}
.filters-desc:hover{
  text-decoration:underline;
  color: 1rem solid var(--primary-color);
}
.flex-categories{
  padding: 12px;
  margin:5px 12px;
}
.filter-desc-categories{
  font-size: 1.7rem;
}
.filter-sorts{
  margin: 8px;
  font-size: 1.5rem;
}
.filter-categories{
  margin:0 5px;
  cursor: pointer;

}
.section-products {
  margin:2rem;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    gap: 4rem;
  }










